{% extends 'layout.html.twig' %}
{% block page %}
<div class="wrapper">
<div class="container-content">
    <div class="layout">
    {% block content %}
    {% endblock %}
    </div>
</div>
</div>
{% endblock %}
